<a href="https://colab.research.google.com/github/ChelseyGuasis/CPEN65-1/blob/main/Guasis%2CChelsey_Midterm_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1

In [33]:
from array import *
arr = array("i",[0,1,2,3,4,5,6,7,8,9])
print(arr)

ind = int(input("Index: "))
print (arr [ind])
current = 0

for x in arr:
  sum = current + arr[x]
  current = sum
print("The sum of 10 integers was:",(sum))

array('i', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
Index: 5
5
The sum of 10 integers was: 45

2

In [16]:
from array import *
numbers = array("i",[1,2,3,4,5,6,7,8,9,10])
print("Original array: ",(numbers))
numbers.append(11)
print("New List: ", numbers)

Original array:  array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
New List:  array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11])

3

In [35]:
from array import *
numbers = array("i",[1,2,3,4,5,6,7,8,9,10])
print("Original array: ",(numbers))
numbers.insert(9,23)
print("New List: ", numbers)

Original array:  array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
New List:  array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 23, 10])

4

In [22]:
from array import *
numbers = array("i",[1,2,3,4,5])
print("Original array: ",(numbers))
numbers.reverse()
print("New List: ", numbers)

Original array:  array('i', [1, 2, 3, 4, 5])
New List:  array('i', [5, 4, 3, 2, 1])

5

In [44]:
array = [2,4,6,4]
 
arr_1 = []
arr_2 = []
 
for i in array:
    if i not in arr_1:
        arr_1.append(i)
    elif i not in arr_2:
        arr_2.append(i)
 
print(arr_2)

[4]